<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
    <title>Logika_SpotNote</title>
  </head>
  <body>
    <nav class="navbar_category">
    <img class="logo">
    <h1>SpotNote</h1>
      <ul>
        <li class="board1">Дошка 1</li>
        <li class="board2">Дошка 2</li>
        <li class="board3">Дошка 3</li>
        <li class="board4">Дошка 4</li>
      </ul>
    </nav>
    <main>
        <a href="index.html">Назад</a>
<!-- CSS до цієї частини я самостійно зроблю(Святослав)-->
        <div class="img_account_cont">
            <div class="img_box">
                <div class="colum">
                    <img>
                </div>

                <div class="colum">
                    <img>
                </div>

                <div class="colum">
                    <img>
                </div>

                <div class="colum">
                    <img>
                </div>
            </div>
        </div>
<!--_________________________-->
    </main>
  </body>
  <footer>
  </footer>
</html>