<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
    <title>Logika_SpotNote</title>
  </head>
  <body class="account_body">
    <nav class="navbar_account">
      <img class="logo" alt="logo">
      <h1>SpotNote</h1>
      <a href="index.html">Назад</a>
    </nav>
    <main>
      <div class="img_box" id="account_block">
        <ul class="colum">
          <li class="board" id="board1">Дошка 1</li>
          <li class="board" id="board2">Дошка 2</li>
          <li class="board" id="board3">Дошка 3</li>
          <li class="board" id="board4">Дошка 4</li>
        </ul>

        <div class="colum">
          <p>A</p>
        </div>

        <div class="colum">
          <p>B</p>
        </div>

        <div class="colum">
          <p>C</p>
        </div>

        <div class="colum">
          <p>D</p>
        </div>
      </div>
    </main>
  </body>
  <footer>
  </footer>
</html>