<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
    <title>Logika_SpotNote</title>
  </head>
  <body>
    <nav class="navbar_category">
      <img class="logo" alt="logo">
      <a href="index.html">Катя</a>
      <a href="index.html">Ростислав</a>
      <a href="index.html">Захар</a>
      <a href="index.html">Святослав</a>
      <a href="index.html">Спільна</a>
      <a href="index.html">Назад</a>
    </nav>
    <main>
<!-- CSS до цієї частини я самостійно зроблю(Святослав)-->
        <div class="img_settings_cont">
            <div class="img_box">
                <div class="colum">
                    <img>
                </div>

                <div class="colum">
                    <img>
                </div>

                <div class="colum">
                    <img>
                </div>

                <div class="colum">
                    <img>
                </div>
            </div>
        </div>
<!--____________________________-->
    </main>
  </body>
  <footer>
  </footer>
</html>