<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
    <title>Logika_SpotNote</title>
  </head>
  <body class="category_body">
    <nav class="navbar_category">
        <img class="logo" alt="logo">
        <button class="katya_btn">Каття</button>
        <button class="rostyslav_btn">Ростислав</button>
        <button class="zahar_btn">Захар</button>
        <button class="sviatoslav_btn">Святослав</button>
        <button class="spilne_btn">Спільне</button>
        <a href="index.html">Назад</a>
    </nav>
    <main>
      <div class="category_spilne">
        <div class="img_settings_cont">
            <div class="img_box">
                <div class="colum">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum blanditiis unde facere sit dolores dolor repellendus molestiae corrupti sunt quas? Ea ratione doloremque veritatis incidunt eos quos minima repellendus perferendis.</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas obcaecati at possimus placeat, cupiditate ad numquam. A, possimus laborum, atque veniam ipsum cumque molestias voluptate delectus eos magni, dolores facilis!</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error molestiae ea quis ipsam excepturi deleniti nam debitis sint unde dolorem sed ullam repudiandae quidem impedit assumenda et, officiis commodi tempora.</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel assumenda obcaecati quisquam corporis maiores porro, suscipit non delectus, laborum voluptas voluptates dolores atque aut fugiat excepturi magnam natus tenetur facere?</p>
                </div>
            </div>
        </div>
      </div>
      <div class="category_katya">
                <div class="img_settings_cont">
            <div class="img_box">
                <div class="colum">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum blanditiis unde facere sit dolores dolor repellendus molestiae corrupti sunt quas? Ea ratione doloremque veritatis incidunt eos quos minima repellendus perferendis.</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas obcaecati at possimus placeat, cupiditate ad numquam. A, possimus laborum, atque veniam ipsum cumque molestias voluptate delectus eos magni, dolores facilis!</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error molestiae ea quis ipsam excepturi deleniti nam debitis sint unde dolorem sed ullam repudiandae quidem impedit assumenda et, officiis commodi tempora.</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel assumenda obcaecati quisquam corporis maiores porro, suscipit non delectus, laborum voluptas voluptates dolores atque aut fugiat excepturi magnam natus tenetur facere?</p>
                </div>
            </div>
        </div>
      </div>
      <div class="category_rostyslav">
                <div class="img_settings_cont">
            <div class="img_box">
                <div class="colum">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum blanditiis unde facere sit dolores dolor repellendus molestiae corrupti sunt quas? Ea ratione doloremque veritatis incidunt eos quos minima repellendus perferendis.</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas obcaecati at possimus placeat, cupiditate ad numquam. A, possimus laborum, atque veniam ipsum cumque molestias voluptate delectus eos magni, dolores facilis!</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error molestiae ea quis ipsam excepturi deleniti nam debitis sint unde dolorem sed ullam repudiandae quidem impedit assumenda et, officiis commodi tempora.</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel assumenda obcaecati quisquam corporis maiores porro, suscipit non delectus, laborum voluptas voluptates dolores atque aut fugiat excepturi magnam natus tenetur facere?</p>
                </div>
            </div>
        </div>
      </div>
      <div class="category_zahar">
                <div class="img_settings_cont">
            <div class="img_box">
                <div class="colum">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum blanditiis unde facere sit dolores dolor repellendus molestiae corrupti sunt quas? Ea ratione doloremque veritatis incidunt eos quos minima repellendus perferendis.</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas obcaecati at possimus placeat, cupiditate ad numquam. A, possimus laborum, atque veniam ipsum cumque molestias voluptate delectus eos magni, dolores facilis!</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error molestiae ea quis ipsam excepturi deleniti nam debitis sint unde dolorem sed ullam repudiandae quidem impedit assumenda et, officiis commodi tempora.</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel assumenda obcaecati quisquam corporis maiores porro, suscipit non delectus, laborum voluptas voluptates dolores atque aut fugiat excepturi magnam natus tenetur facere?</p>
                </div>
            </div>
        </div>
      </div>
      <div class="category_sviatoslav">
                <div class="img_settings_cont">
            <div class="img_box">
                <div class="colum">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum blanditiis unde facere sit dolores dolor repellendus molestiae corrupti sunt quas? Ea ratione doloremque veritatis incidunt eos quos minima repellendus perferendis.</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas obcaecati at possimus placeat, cupiditate ad numquam. A, possimus laborum, atque veniam ipsum cumque molestias voluptate delectus eos magni, dolores facilis!</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error molestiae ea quis ipsam excepturi deleniti nam debitis sint unde dolorem sed ullam repudiandae quidem impedit assumenda et, officiis commodi tempora.</p>
                </div>

                <div class="colum">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel assumenda obcaecati quisquam corporis maiores porro, suscipit non delectus, laborum voluptas voluptates dolores atque aut fugiat excepturi magnam natus tenetur facere?</p>
                </div>
            </div>
        </div>
      </div>
    </main>
  </body>
  <footer>
  </footer>
</html>