<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
    <title>Logika_SpotNote</title>
  </head>
  <body>
    <nav>
    <img class="logo">
      <ul>
        <li>Катя</li>
        <li>Ростислав</li>
        <li>Захар</li>
        <li>Святослав</li>
        <li>Спільна</li>
        <li><a href="index.html">Назад</a></li>
      </ul>
    </nav>
    <main>
        <div class="img_settings_cont">
            <div class="img_box">
                <div class="colum">
                    <img>
                </div>

                <div class="colum">
                    <img>
                </div>

                <div class="colum">
                    <img>
                </div>

                <div class="colum">
                    <img>
                </div>
            </div>
        </div>
    </main>
  </body>
</html>