<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
    <title>Logika_SpotNote</title>
  </head>
  <body>
    <main>
      <img class="logo">
      <h1>SpotNote</h1>
      <div class="main_block">
        <div class="main_clumn1">
          <p>Опис сайту Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, asperiores doloremque qui quis aperiam expedita voluptatem architecto repellat molestias rem officiis eum, reiciendis laboriosam, officia cum tenetur ea est quo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores numquam inventore rem porro! Aut, perspiciatis. Amet dolor, voluptate et voluptates excepturi reiciendis tempora quasi aliquid veritatis repudiandae, dignissimos modi atque!</p>
        </div>
        <div class="main_clumn2">
          <nav class="navbar_main">
            <ul>
              <li class="shearch"><input placeholder="Пошук"></li>
              <li class="post_create"><input placeholder="Створення поста"></li>
              <li><div class="save_post">Кнопка для зберігання посту</div></li>
              <li><a href="category.html">Категорії</a></li>
              <li><a href="settings.html">Налаштування</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>

