<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
    <title>Logika_SpotNote</title>
  </head>
  <body>
    <nav class="navbar_main">
      <ul>
        <li><a href="category.html">Категорії</a></li>
        <li><a href="settings.html">Налаштування</a></li>
      </ul>
    </nav>
    <main>
      <img class="logo">
      <h1>SpotNote</h1>
      <p>Опис сайту</p>
      <input placeholder="Пошук">
      <input placeholder="Створення поста">
      <div>Кнопка для зберігання посту</div>
    </main>
    <footer>
    </footer>
  </body>
</html>

