<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
    <title>Logika_SpotNote</title>
  </head>
  <body>
    <main>
      <div class="settings_block">
        <div class="colum_settings1">
          <img class="logo">
          <div class="settings">
            <p>Налаштування акаунту</p>
            <div class="theme_button">
              <div class="Light_mod">Світлий режим</div>
              <div class="Dark_mod">Темний режим</div>
            </div>
          </div>
          <p>Правила</p>
        </div>
        <div class="colum_settings2">
          <nav class="navbar_settings">
            <ul>
              <li><a href="account.html">Акаунт</a></li>
              <li><a href="index.html">Головна</a></li>
              <li><a href="category.html">Категорії</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </main>
  </body>
  <footer>
  </footer>
</html>