<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
    <title>Logika_SpotNote</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="account.html">Акаунт</a></li>
        <li><a href="index.html">Головна</a></li>
        <li><a href="category.html">Категорії</a></li>
      </ul>
    </nav>
    <main>
        <img class="logo">
        <p>Налаштування акаунту</p>
        <div>Світлий режим</div>
        <div>Темний режим</div>
        <p>Правила</p>
    </main>
  </body>
</html>