@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

body{
    width: 100%; height: 100vh;
    margin: 0;
    padding-right: 2vw;
    padding-left: 5vw;
    padding-bottom: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    /*"Handjet", sans-serif*/
    font-style: normal;
  --s: 100px; /* control the size */
  --c1: #89dd8c;
  --c2: #796aa4;

  --_g: var(--c2) 4% 14%, var(--c1) 14% 24%, var(--c2) 22% 34%,
    var(--c1) 34% 44%, var(--c2) 44% 56%, var(--c1) 56% 66%, var(--c2) 66% 76%,
    var(--c1) 76% 86%, var(--c2) 86% 96%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
}
main{
    padding-bottom: 7vh;
}
a{
    color: black;
    font-size: 3vw;
}
h1{
    font-size: 4vw;
}
p{
    font-size: 3vw;
    margin: 0;
}
input{
    font-size: 2vw;
    background-color: #becfb0;
}
button{
    font-size: 3vw;
    font-family: "Oswald", sans-serif;
    /*"Handjet", sans-serif*/
    font-style: normal;
}
.logo{
    position: relative;
    margin-left: 0.01%;
}
.navbar_main ul{
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
}
.index h1{
    width: 100%;
}
.main_block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
    width: 100%;
}
.main_clumn1{
    background-color: #ad7fd5;
    display: flex;
    flex-direction: column;
    border: #89dd8c;
    border-width: 0.7vw;
    border-style: groove;
    padding-left: 0.5%;
    padding-right: 0.5%;
    width: 50%;
}
.navbar_main ul{
    padding: 0px;
    margin: 0px;
}
.navbar_main li{
    display: flex;
    text-decoration: none;
    cursor: pointer;
    border: #89dd8c;
    border-width: 0.7vw;
    border-style: groove;
    margin-bottom: 0.8%;
    text-align: center;
}
.navbar_main a{
    text-decoration: none;
}
.navbar_main li:hover{
    transition-property: background-color, border-color;
    transition-duration: .2s;
    background-color:#a170cc;
    border-color:#28aa2d
}
.save_post{
    color: black;
    font-size: 2vw;
}
.post_category_btn select{
    font-size: 2vw;
    width: 100%;
    background-color: #ad7fd5;
    border: #89dd8c;
    border-width: 0.7vw;
    border-style: inset outset;
}
.main_clumn2{
    background-color: #ad7fd5;
    display: flex;
    flex-direction: column;
}
.category_body{
    padding-left: 0;
    padding-right: 4.25vw;
}
.navbar_category{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 4vw;
}
.navbar_category a{
    background-color: #ad7fd5;
    text-decoration: none;
    cursor: pointer;
    border: #89dd8c;
    border-width: 0.7vw;
    border-style: groove;
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.navbar_category a:hover{
    transition-property: background-color, border-color;
    transition-duration: .2s;
    background-color:#9165b7;
    border-color:#28aa2d
}

.navbar_category button{
    background-color: #ad7fd5;
    text-decoration: none;
    cursor: pointer;
    border: #89dd8c;
    border-style: groove;
    border-width: 0.7vw;
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.navbar_category .spilne_btn:hover{
    transition-property: background-color, border-color;
    transition-duration: .2s;
    background-color:#9165b7;
    border-color:#28aa2d
}

.navbar_category .sviatoslav_btn{
    border-color: #762273;
    color:#ffffff;
    text-shadow: 0 0 10px rgb(41, 0, 48);
    background-color: #52802a;
    border-style: ridge outset ridge inset;
}
.navbar_category .sviatoslav_btn:hover{
    border-color: #4b164a;
    background-color: #38571d;
    box-shadow: 0 0 15px 10px #581a56;
}

.navbar_category .zahar_btn{
    background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.726);
    border-style: ridge double   groove;
}
.navbar_category .zahar_btn:hover{
    text-shadow: 0 0 10px rgb(255, 0, 0);
    box-shadow: 0 0 10px 5px #ff1414aa;
    background-color: #000000;
    border-color: #f16f6f;
    color: #f16f6f;
}

.navbar_category .rostyslav_btn{
    background-color: #000000;
    border-color: #35ff38;
    color: #2fff00;
    box-shadow: 0 0 15px 5px rgba(57, 250, 118, 0.8);
    text-shadow: 0 0 10px rgba(57, 250, 118, 0.8)
    0 0 20px rgba(57, 250, 118, 0.8);
    border-style: double dashed;
}
.navbar_category .rostyslav_btn:hover{
    border-style: groove double ridge;
}

.navbar_category .katya_btn{
    border-color: #FDABAB;
    background-image: linear-gradient(to bottom, #fc8ffc, #9BBFF8) ;
    box-shadow: 0 0 15px 5px rgba(250, 189, 57, 0.79);
    border-style: groove ridge;  
}
.navbar_category .katya_btn:hover{
    box-shadow: 0 0 25px 10px rgb(250, 189, 57);
}

.img_settings_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.img_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.img_box .colum{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px 10px 4vw 4vw;
}
.img_box .colum p{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: #89dd8c;
    border-width: 0.7vw;
    border-style: groove;
    background-color: #ad7fd5;
}
.account_body{
    display: flex;
    flex-direction: column;
  --s: 100px; /* control the size */
  --c1: #becfb0;
  --c2: #355c7d;

  --_g: var(--c2) 4% 14%, var(--c1) 14% 24%, var(--c2) 22% 34%,
    var(--c1) 34% 44%, var(--c2) 44% 56%, var(--c1) 56% 66%, var(--c2) 66% 76%,
    var(--c1) 76% 86%, var(--c2) 86% 96%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
    
}
.navbar_account{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.navbar_account a{
    background-color: #ad7fd5;
    text-decoration: none;
    cursor: pointer;
    border: #89dd8c;
    border-width: 0.7vw;
    border-style: groove;
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.navbar_account a:hover{
    transition-property: background-color, border-color;
    transition-duration: .2s;
    background-color:#9165b7;
    border-color:#28aa2d
}
.account_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.board{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: #becfb0#ad7fd5;
    border-width: 0.7vw;
    border-style: groove;
    background-color: #89dd89;
    text-align: center;
}
.settings_block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.colum_settings1{
    width: 75%;
}
.colum_settings1 .settings p{
    text-align: center;
}
.colum_settings2{
    width: 25%;
}
.colum_settings2 li{
    background-color: #ad7fd5;
    display: block;
    border: #89dd8c;
    border-width: 0.7vw;
    border-style: groove;
    padding-left: 0.5%;
    padding-right: 0.5%;
    text-align: center;
    text-decoration: none;
    margin-bottom: 3%;
}
.colum_settings2 li:hover{
    transition-property: background-color, border-color;
    transition-duration: .2s;
    background-color:#9165b7;
    border-color:#28aa2d
}
.navbar_settings a{
    text-decoration: none;
}
.theme_button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Light_mod{
    background-color: #ad7fd5;
    cursor: pointer;
    border: #89dd8c;
    border-width: 0.7vw;
    border-style: groove;
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.Light_mod:hover{
    transition-property: background-color, border-color;
    transition-duration: .2s;
    background-color:#9165b7;
    border-color:#28aa2d
}
.Dark_mod{
    background-color: #ad7fd5;
    cursor: pointer;
    border: #89dd8c;
    border-width: 0.7vw;
    border-style: groove;
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.Dark_mod:hover{
    transition-property: background-color, border-color;
    transition-duration: .2s;
    background-color:#9165b7;
    border-color:#28aa2d
}
.category_sviatoslav .img_settings_cont .img_box .colum p{
    border-color: #762273;
    color:#ffffff;
    text-shadow: 0 0 10px rgb(41, 0, 48);
    background-color: #52802a;
    border-style: ridge outset ridge inset;
}
.category_katya .img_settings_cont .img_box .colum p{
    border-color: #FDABAB;
    background-image: linear-gradient(to bottom, #fc8ffc, #9BBFF8) ;
    box-shadow: 0 0 15px 5px rgba(250, 189, 57, 0.79);
    border-style: groove ridge;   
}
.category_rostyslav .img_settings_cont .img_box .colum p{
    background-color: #000000;
    border-color: #35ff38;
    color: #2fff00;
    box-shadow: 0 0 15px 5px rgba(57, 250, 118, 0.8);
    text-shadow: 0 0 10px rgba(57, 250, 118, 0.8)
    0 0 20px rgba(57, 250, 118, 0.8);
    border-style: double dashed;
}
.category_zahar .img_settings_cont .img_box .colum p{
    background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.726);
    border-style: ridge double   groove;
}